* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.all{
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* width: 140%; */
    padding-left: 100px;

}

.left h2{
    display: flex;
    align-items: flex-start;
    font-size: 28px;
    text-align: start;
    margin-bottom: 30px;
    width: 100%;
}

.left input{
    display: flex;
    width: 400px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    padding-left: 10px;
}




.left button{
    width: 400px;
    height: 45px;
    border: none;
    background-color: #30A6A9;
    border-radius: 6px;
    color: white;
}

.right{
    background: url( ../img/unsplashmasn.png ) ;
    height: 100vh;
    filter: brightness(0.5);
}

.right img{
    height: 100vh;
    object-fit: cover;

}

.right h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    margin-top: -400px;
}
.right p{
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
    }

.left p{
    margin-top: 10px;
    color: 
    #30A6A9;
}
.left a{
    color: 
    #30A6A9;
}

.checkboxAndChangePassword{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.checkboxAndChangePassword input{
    width: 20px;
    margin-top: 0;
    border: 1px solid #D9D9D9;
}
.checkboxAndChangePassword p{
    display: flex;
    align-items: center;
    gap: 20px;
}

.checkboxAndChangePassword span{
    margin-top: -20px;
    color: 
    #666666;
}

.checkboxAndChangePassword a{
    margin-top: -10px;
    text-decoration: none;
    color: #30A6A9;
}

@media(max-width:1200px){
    .right{
        display: none;
    }
    .left{
        padding: 0;
    }

    #left{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
}

@media(max-width:420px){
    .left input{
        width:350px;
    }
    .left button{
        width:350px;
    }
    .checkboxAndChangePassword{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 350px;
    }
    .checkboxAndChangePassword input{
        width: 20px;
        margin-top: 0;
        border: 1px solid #D9D9D9;
    }

}
@media(max-width:351px){
    .left input{
        width:300px;
    }
    .left button{
        width:300px;
    }
    .checkboxAndChangePassword{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
    }
    .checkboxAndChangePassword span{
        font-size: 14px;
    }
    .checkboxAndChangePassword a{
        font-size: 14px;
    }
    .checkboxAndChangePassword p{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .checkboxAndChangePassword input{
        width: 20px;
        margin-top: 0;
        border: 1px solid #D9D9D9;
    }
}