* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.overlay {
    background: linear-gradient(0deg, rgba(187, 210, 197, 1) 0%, rgba(83, 105, 118, 1) 50%);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    transition: .4s ease;
}

.overlay a {
    font-size: 20px;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.overlay a:hover {
    color: var(--i, #fff);
}

.fa-bars {
    visibility: hidden;
}

.fa-xmark {
    position: absolute;
    font-size: 2rem;
    right: 15px;
    top: 40px;
    color: white;
}

.active {
    width: 50%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
}

.logo h2 {
    font-size: 30px;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    color: black;
    position: relative;
    text-decoration: none;
}

.profilim_elanVer {
    display: flex;
    align-items: center;
}
.profilim_elanVer a{
    text-decoration: none;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #30A6A9;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: +2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.profilim_elanVer img {
    width: 30px;
    height: 30px;
}

.elan_ {

    color: white;
    background-color: #30A6A9;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 30px;
}

.elan__ {
    color: white;
    background-color: #30A6A9;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav a:hover::after,
.overlay a:hover::after {
    width: 100%;
    left: 0;
}

.dropbtn img {
    display: none;
}

.nav a::after,
.overlay a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    right: 0;
    position: absolute;
    background-color: #30A6A9;
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
}

.dropbtn img {
    display: none;
}

@media(max-width:768px) {
    .nav a {
        display: none;
    }

    .fa-bars {
        visibility: inherit;
        margin-left: 30px;
        font-size: 25px;
    }

    .dis-none {
        display: none;
    }

    .nav a:hover::after,
    .overlay a:hover::after {
        width: 0;
        left: 0;
    }

    .elan_ {
        display: none;
    }
}

@media(max-width:500px) {

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
    }

    .nav a {
        display: none;
    }

    .fa-bars {
        visibility: inherit;
        font-size: 25px;
    }

    .img img {
        display: none;
    }

    .dropbtn img {
        display: inline;
    }

    .elan_ {
        display: none;
    }

    .dis-none {
        display: none;
    }

    .dropbtn span {
        display: none;
    }

    .profilim_elanVer {
        display: flex;
        gap: 35px;
    }
}

@media(max-width:300px) {
    .dropbtn img {
        display: inline;
        width: 25px;
        height: 25px;
    }

    .fa-bars {
        visibility: inherit;
        font-size: 18px;
    }

    .profilim_elanVer {
        display: flex;
        gap: 10px;
    }

    .dropbtn span {
        display: none;
    }

    .img img {
        display: none;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 30%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

}
#header_swiper{
    position: relative;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}
  .heading_form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: +1;
    background: #FFFFFF;
    border-radius: 6px;
    width: 1152px;
    height: 97px;
}
  .form_heading{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.right_side{
    display: flex;
    justify-content: space-around;
    gap: 60px;
    align-items: center;
}   
.right_side  .border{
    border: 1px solid #717171;
    display: flex;
    height: 60px;
    flex-direction: column;
    background:  #717171;
}
.right_side  .form_seletion > .select_text p {
 
    font-style: normal;
    font-weight: 600;
    font-size: 15.4688px;
    line-height: 23px;
    margin-left: 4px;
    color: #272727;
}
.right_side  .form_seletion > .select select{
border: none;
outline: none;
font-style: normal;
font-weight: 400;
font-size: 15.4688px;
line-height: 23px;
color: #8B8989;
}
.search_items{
    position: relative;
}
.search_input{
box-sizing: border-box;
padding: 0 10px;
width: 310px;
height: 50px;
background: #FFFFFF;
border: 1px solid #E6E6E6;
border-radius: 6px;
outline: none;
}
.btn_search{
border: none;
outline: none;
width: 126px;
color: white;

height: 50px;
background: #30A6A9;
border-radius: 6px;
}
.search_icon{
    position: absolute;
    top: 14px;
    right: 20%;
    color: white;
}
@media (max-width: 1170px) {
    .heading_form{
     width:1080px;
    } 
   }
 @media (max-width: 1110px) {
    .heading_form{
     width: 1000px;
    } 
   }
 @media (max-width: 1012px) {
    .heading_form{
     width: 880px;
    } 
    .search_input{
     width: 200px;
    }
    .btn_search{
     width: 80px;
    }
    .search_icon{
     top: 13px;
     right: 21%;
    }
   }
 @media (max-width: 945px) {
    .heading_form{
     width: 840px;
    } 
    .search_items .search_input{
     width: 250px;
    }
    .search_items .btn_search{
     width: 100px;
    }
   }
 @media (max-width: 944px) {
    .heading_form{
        width: 880px ;
        height: auto;
       } 
       .right_side{
           gap: 44px;
       }
   }
   @media (max-width:885px) {
    .heading_form{
     width: 588px ;
     height: auto;
    } 
    .form_heading{
        flex-direction: column;
        display: flex;
    }
    .right_side{
        gap: 50px;
    }
    .search_items{
        padding: 10px;
    }
 #none{
        display: none;
    }
    .search_items .search_input{
        width: 325px;
       }
       .search_items .btn_search{
        width: 125px;
       }
    .search_icon{
        top:24px;
        right: 22%;
    }
   }
   @media (max-width:800px) {
    .heading_form{
     width: 768px ;
     height: auto;
    } 
    .right_side{
        gap: 40px;
    }
    .search_items{
        padding: 10px;
    }
    .search_items .search_input{
        width: 190px;
       }
       .search_items .btn_search{
        width: 80px;
       }
       .search_icon{
        top: 24px;
        right: 23%;
       }
   }
   @media (max-width:768px) {
     .heading_form{
      width: 588px ;
      height: auto;
     } 
     .form_heading{
         flex-direction: column;
         display: flex;
     }
     .right_side{
         gap: 50px;
     }
     .search_items{
         padding: 10px;
     }
  #none{
         display: none;
     }
     .search_items .search_input{
         width: 325px;
        }
        .search_items .btn_search{
         width: 125px;
        }
     .search_icon{
         top:24px;
         right: 22%;
     }
    }
   @media (max-width:600px) {
     .heading_form{
      width: 480px ;
      height: auto;
     } 
     .form_heading{
         flex-direction: column;
         display: flex;
     }
     .right_side{
         gap: 30px;
     }
     .swiper_image img{
         height: 500px;
     }
     .search_items{
         padding: 10px;
     }
  #none{
         display: none;
     }
     .search_icon{
         top:33px;
         right: 22%;
     }
     .search_items .btn_search{
         margin-top: 10px;
        }
    }
    @media (max-width:484px) {
        .heading_form{
         width: 370px ;
         height: auto;
        } 
        .form_heading{
            flex-direction: column;
            display: flex;
        }
        .right_side{
            gap: 15px;
        }
        .swiper_image img{
            height: 500px;
        }
        .search_items{
            padding: 10px;
        }
     #none{
            display: none;
        }
        .search_icon{
            top:62%;
            left: 23px;
        }
        .search_items .btn_search{
            margin-top: 10px;
           }
       }
   @media (max-width:393px) {
     .heading_form{
      width: 287px ;
      height: auto;
     } 
     .swiper_image img{
         height: 400px;
     }
     .form_heading{
         flex-direction: column;
         display: flex;
     }
     .right_side{
         gap: 0px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: baseline;
     }
      .right_side .border{
         display: none;
     }
     .search_items{
         padding: 10px;
     }
     .search_items .search_input{
         width: 240px;
        }
        .search_items .btn_search{
         width: 90px;
         margin-top: 10px;
        }
     .search_icon{
         top:64%;
         left: 15px;
     }
    }
   @media (max-width:300px) {
     .heading_form{
      width: 260px ;
      height: auto;
     } 
     .swiper_image img{
         height: 400px;
     }
     .form_heading{
         flex-direction: column;
         display: flex;
     }
     .right_side{
         gap: 0px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: baseline;
     }
      .right_side .border{
         display: none;
     }
     .search_items{
         padding: 10px;
     }
     .search_items .search_input{
         width: 240px;
        }
        .search_items .btn_search{
         width: 90px;
         margin-top: 10px;
        }
     .search_icon{
         top:64%;
         left: 15px;
     }
    }


    .home_it_work_txt{
        text-align: center;
    }
    
    .home_it_work_txt p:nth-child(1){
        padding-top: 40px;
        color: #858181;
        font-size: 18px;
    }
    .home_it_work_txt p:nth-child(2){
        padding-top: 10px;
        font-size: 32px;
    }
    
    .mix{
        width: 200px;
        height:150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mix_ img{
        padding: 5px;
        border-radius: 10px;
        box-shadow: 5px 5px 25px #dddddd;
        width:50px;
        height: 50px;
    
    }
    .mix__{
        text-align: center;
    }
    .mix__ p:nth-child(1){
        padding: 10px 0;
        font-weight: bold;
    }
    .mix__ p:nth-child(2){
        color: #858181;
    }
    .axtar_sec_kirayele{
        display: flex;
        justify-content: center;
        padding-top: 40px;
        align-items:center ;
    }
    .arrow_top{
        width: 320px;
    }
    .arrow_bottom{
        margin-top: 100px;
        width: 320px;
    }
    
    
    .mashini_kirayele_txt p:nth-child(2){
        width: 200px;
    }
    
    .mekan_axtart_txt p:nth-child(2){
        width: 200px;
    }
    .zaman_sec_txt p:nth-child(2){
        width: 200px;
    }
    
    
    .rent_text {
        text-align: center;
        padding: 40px 0;
    }
    
    .rent_text h1 {
        padding: 10px;
        font-size: 30px;
    }
    
    .rent_text a {
        color: #30A6A9;
    
    }
    
    .rent_img {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    
    .mashin_img,.yaxta_img {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    
    
    .img_rent img {
        border-radius: 50%;
        width: 150px;
        box-shadow: 5px 5px 5px #f3f2f2;
    
    }
    
    .img_rent p:nth-child(2){
        text-align: center;
        color: #30A6A9;
        padding: 5px 0 2px 0;
    }
    .img_rent p:nth-child(3){
        text-align: center;

    }
    
    .mashin_text,.yaxta_text {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        justify-content: space-between;
        padding-left: 140px;
        width: 91%;
    }
    
    .mashin_text h1,.yaxta_text h1 {
        padding: 40px 0  0 10px;
        font-size: 30px;
    }
    
    .mashin_text a,.yaxta_text a {
        color: #30A6A9;
    }
    
    .mashin_melumat {
        width: 20%;
        height: 300px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }

    .yaxta_melumat{
        width: 20%;
        height: 230px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }
    
    .mashin_melumat img,.yaxta_melumat img {
        width: 90%;
        height: 170px;
        border-radius: 20px;
    
    
    }
    
    .img_ {
        display: flex;
        justify-content: center;
    }
    
    .mashin_melumat p,.yaxta_melumat p {
        padding-left: 10px;
    }
    
    
    
    .mashin_melumat p:nth-child(2).yaxta_melumat p:nth-child(2) {
        font-size: 20px;
        padding-bottom: 5px;
        margin-top: 15px;
    }
    
    .mashin_melumat p:nth-child(3),.yaxta_melumat p:nth-child(3) {
        font-size: 20px;
        padding-bottom: 25px;
        color: #30A6A9;
        font-weight: bold;
    
    }
    
    .mashin_melumat span,.yaxta_melumat span {
        font-size: 14px;
        font-weight: 400;
    }
    
    .border {
        border-top: 1px solid #DFDFDF;
        width: 95%;
        margin-left: 10px;
        padding-bottom: 10px;
    }
    
    .icone_text {
        padding-left: 10px;
        display: flex;
        align-items: center;
        width:20px ;
        height: 20px;
    }
    
    .icone_text img:nth-child(3){
        width: 20px;
        height: 20px;
        border-radius: 0;
    }
    
    .icone_text p:nth-child(1) {
        border: 2px solid grey;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: grey;
        margin: 0;
    }
    
    .icone_text p:nth-child(2) {
        font-size: 14px;
        padding-right: 15px;
        padding-bottom: 0;
        margin: 0;
    }
    
    .icone_text p {
        color: grey;
    }
    
    .icone_text i {
        color: grey;
    }
    
    
    .sedan_mashini {
        padding-bottom: 50px;
    }

    
    
    
    .Best p:nth-child(1){
        border: 1px solid #352D2D;
        border-radius: 50%;
        background-color: #352D2D;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: white;
        margin-bottom: 5px;
    }
    
    
@media(max-width:1300px){
    .arrow_top img{
        width: 100%;
    }
    .arrow_bottom img{
        width: 100%;
    }
    .icone_text {
        padding-left: 10px;
        display: flex;
        align-items: center;
        width:20px;
        height: 20px;
    }
    .mashin_text,.yaxta_text {
        padding-left: 110px;
    }


    

}
@media(max-width:1200px) {
    .rent_img {
        flex-wrap: wrap;
    }

    .mashin_melumat{
        width: 20%;
        height: 300px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }

    .mashin_melumat img,.yaxta_melumat img {
        width: 90%;
        height: 170px;
        border-radius: 20px;

    }

    .icone_text {
        padding-left: 10px;
        display: flex;
        align-items: center;
        width:20px ;
        height: 20px;
    }
    
    .icone_text img:nth-child(1){
        width: 20px;
        height: 20px;
    }
    .mashin_text,.yaxta_text {
        padding-left: 90px;
    }
}

@media(max-width:1020px){
    .arrow_top{
        display: none;
    }
    .arrow_bottom{
        display: none;
    }
    .mix{
        margin: 0 15px;
    }
    .mashin_text,.yaxta_text {
        padding-left:80px;
        width: 91%;
    }

}

@media(max-width:992px) {
    .rent_img {
        flex-wrap: wrap;
    }

    .mashin_img,.yaxta_img {
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .mashin_melumat {
        width: 350px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }
    .yaxta_melumat {
        width: 350px;
        height: 230px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }

    .mashin_melumat img:nth-child(1),.yaxta_melumat img:nth-child(1) {
        width: 330px;
        height: 170px;
        border-radius: 20px;
        

    }

    .mashin_text,.yaxta_text {
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 0;
    }



}

@media(max-width:768px){
    .axtar_sec_kirayele{
        flex-wrap: wrap;
    }
    .arrow_top{
        display: none;
    }
    .arrow_bottom{
        display: none;
    }
    .mix{
        margin: 0 15px;
    }


    .rent_img {
        flex-wrap: wrap;
    }

    .mashin_img,.yaxta_img {
        flex-wrap: wrap;
    }


    .mashin_melumat {
        width: 350px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }
    .yaxta_melumat {
        width: 350px;
        height: 230px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }

    .mashin_melumat img:nth-child(1),.yaxta_melumat img:nth-child(1) {
        width: 330px;
        height: 170px;
        border-radius: 20px;
        

    }

    


}
@media(max-width:707px){
    .mix{
        margin: 15px;
    }
}
@media(max-width:500px){
    .mix{
        margin: 15px;
    }


    .rent_img {
        flex-wrap: wrap;
    }

    .mashin_img,.yaxta_img {
        flex-wrap: wrap;
    }


    .mashin_melumat {
        width: 350px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }

    .yaxta_melumat {
        width: 350px;
        height: 230px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }

    .mashin_melumat img:nth-child(1),.yaxta_melumat img:nth-child(1) {
        width: 330px;
        height: 170px;
        border-radius: 20px;
        

    }

    

    
}


@media(max-width:360px) {
    .rent_img {
        flex-direction: column;
        align-items: center;
    }

    .mashin_img,.yaxta_img {
        flex-direction: column;
        align-items: center;
    }

    .mashin_melumat {
        width: 100%;
        height: 300px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }
    .yaxta_melumat {
        width: 100%;
        height: 230px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }

    .mashin_melumat img:nth-child(1),.yaxta_melumat img:nth-child(1) {
        width: 90%;
        height: 170px;
        border-radius: 20px;
        

    }



}

@media(max-width:300px){
    .axtar_sec_kirayele{
        flex-direction: column;
    }

}




/*free announcement  */
.free_announcement_items{
position: relative;
    }
.free_announcement_items .announcement_image {
    padding: 30px;
    display: flex;
    justify-content: center;

}
.free_announcement_items .announcement_image img{
filter: brightness(0.7);
    /* max-width: 100%; */
    width: 87%;
}
.free_announcement_items .announcement_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.free_announcement_items .announcement_text p{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin: 15px 0;
}
@media (max-width:700px) {
    .free_announcement_items .announcement_text p{
font-size: 20px;
    }
   }
@media (max-width:593px) {
    .free_announcement_items .announcement_text p{
font-size: 18px;
    }
    .announcement_btn button{
        height: 40px;
    }
   }
@media (max-width:550px) {
    .free_announcement_items .announcement_text p{
font-size: 1rem;
margin: 0;
    }
    .announcement_btn button{
        height: 40px;
    }
   }
   @media (max-width:485px) {
    .free_announcement_items .announcement_image img{
        height: 190px;
        object-fit: cover;
        border-radius: 12px;
    }
   }
    @media (max-width:345px){
        .free_announcement_items .announcement_text p{
            font-size: 13px;
            margin: 0;
                }
   }

footer{
    background-color: #2E2C2C;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #415aca;
    background-color: white;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid black;
    color: black;
    background-color:white;
}
.footer-col .form-sub input::placeholder{
    color: gray;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #415aca;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}