* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* outline: 1px solid red; */
}

.overlay {
    background: linear-gradient(0deg, rgba(187, 210, 197, 1) 0%, rgba(83, 105, 118, 1) 50%);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    transition: .4s ease;
}

.overlay a {
    font-size: 20px;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.overlay a:hover {
    color: var(--i, #fff);
}

.fa-bars {
    visibility: hidden;
}

.fa-xmark {
    position: absolute;
    font-size: 2rem;
    right: 15px;
    top: 40px;
    color: white;
}

.active {
    width: 50%;
}

.logo h2 {
    font-size: 30px;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    color: black;
    position: relative;
    text-decoration: none;
}

.profilim_elanVer {
    display: flex;
    align-items: center;
}

.profilim_elanVer a {
    text-decoration: none;
}


.dropdown-content select{
    outline: none;
    border: none;
    color: #30A6A9;
    background-color: white;
    outline: 1px solid white;
    border: 1px solid white;

}
.dropdown-content option{
    outline: 1px solid white;
    border: 1px solid white;
    color: black;
    background-color: white;

}

.profilim_elanVer img {
    width: 30px;
    height: 30px;
}

.elan___ {

    color: white;
    background-color: #30A6A9;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 30px;
}

.elan__ {
    color: white;
    background-color: #30A6A9;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav a:hover::after,
.overlay a:hover::after {
    width: 100%;
    left: 0;
}

.dropbtn img {
    display: none;
}

.nav a::after,
.overlay a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    right: 0;
    position: absolute;
    background-color: #30A6A9;
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
}

.dropbtn img {
    display: none;
}

.shekiller_yaxtacun{
    padding-top: 100px;
}



.product-div {
    display: flex;
    justify-content: center;
}


.img-container img {
    width: 770px ;
    height: 516px ;

}

.hover-container img{
    width: 250px;
    height: 215px;
}

.hover-container {
    display: flex;
    align-items: center;
}

.hover-container img {
    padding-left: 20px;
}

.product-div-left {
    display: flex;
    padding: 20px 0;
}

.border_mashin_melumat {
    display: flex;
    width: 84%;
    height: 150px;
    border: 1px solid 
    #D3EAEB;
    border-radius: 10px;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
}

.qiymet {
    background-color: #30A6A9;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.qiymet p {
    width: 100%;
    padding: 10px 30px;
}

.ad_ve_marka {
    width: 100%;
}

.ad_ve_marka p {
    font-size: 22px;
}

.baxish_yenilendi_elaninnomu {
    display: flex;
    justify-content: end;
    width: 56%
}

.ab_ {
    display: none;
}

.ab p {
    font-size: 14px;
    padding-right: 15px;
    padding-top: 5px;

}
/* 
.mahin_haqqinda_melumat {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 1%;
}

.elaqe_ p {
    padding: 20px 0;
    font-size: 20px;
}

.elaqe_ a {
    display: flex;
    color: black;
    text-decoration: none;
    width: 100%;
    padding-bottom: 10px;
    gap: 10px;
}

.elaqe_ div {
    border-top: 1px solid #E7E7E7;
    width: 190px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.elaqe_ input {
    background-color: #30A6A9;
    outline: none;
    border: none;
    color: white;
    width: 190px;
    height: 48px;
    border-radius: 10px;
    font-size: 17px;
}


.mashinin_melumati {
    width: 300px;
}

.melumatlar_txt p {
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid #E7E7E7;
}

.melumat {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E7E7E7;

    padding: 10px 0;

}

.melumat p:nth-child(1) {
    color: #30A6A9;
}

.melumat p:nth-child(2) {
    padding-right: 50px;
}

.veziyet p:nth-child(1) {
    color: #30A6A9;
    padding-bottom: 5px;

}

.veziyet {
    border-bottom: 1px solid #E7E7E7;
    padding: 10px 0;
    width: 100%;
}

.avtomobil_techizati_clone {
    display: none;
}

.avtomobil_techizati p {
    padding: 20px 0;
    font-size: 20px;
    width: 100%;
@media(max-width:1200px) {


    .product-div {
        display: flex;
        justify-content: center;

    }

    .img-container img {
        width: 100%;
        height: 416px;
    }

    .hover-container {
        display: flex;
        align-items: center;
    }

    .first_car,
    .second_car {
        display: flex;
    }

    .hover-container img {
        padding-left: 20px;

    }

    .product-div-left {
        display: block;
        padding: 20px 0;
    }

}

@media(max-width:1070px) {


    .hover-container {
        display: flex;
        gap: 20px;
    }

    .first_car,
    .second_car {
        flex-wrap: nowrap;
        width: 100%;
        padding: 0;
        display: flex;
        gap: 20px;
    }

    .first_car img,
    .second_car img {
        width: 180px;
        padding: 0;
    }

}

@media(max-width:860px) {

    .first_car,
    .second_car {
        width: 320px;

    }

    .hover-container {
        display: flex;
        gap: 40px;
        justify-content: center;
    }

    .first_car img,
    .second_car img {
        width: 160px;

    }
}

@media (max-width: 800px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width:768px) {
    .dis-none {
        display: none;
    }
    .nav a {
        display: none;
    }

    .fa-bars {
        visibility: inherit;
        margin-left: 30px;
        font-size: 25px;
    }

    .dis-none {
        visibility: inherit;
    }

    .nav a:hover::after,
    .overlay a:hover::after {
        width: 0;
        left: 0;
    }

    .elan_ {
        display: none;
    }

    .first_car,
    .second_car {
        width: 300px;
    }

    .first_car img,
    .second_car img {
        width: 140px;
    }

    .hover-container {
        display: flex;
        gap: 20px;
        justify-content: center;
    }


    .ab {
        display: none;

    }

    .ab_ {
        display: block;
    }

    .ab_ p {
        font-size: 14px;
    }

    .baxish_yenilendi_elaninnomu {
        display: flex;
        justify-content: end;
        width: 0;
    }

    .avtomobil_techizati {
        display: none;
    }

    .avtomobil_techizati_clone {
        display: block;
        padding-top: 20px;
    }

    .elan___ {
        display: none;
    }
}

@media(max-width:700px) {

    .first_car,
    .second_car {
        width: 250px;
    }

    .first_car img,
    .second_car img {
        width: 120px;
    }

    .hover-container {
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-left: -15px;

    }
}

@media(max-width:600px) {

    .mashin_img {
        padding-top: 20px;
    }

    .first_car,
    .second_car {
        width: 200px;
    }

    .first_car img,
    .second_car img {
        width: 100px;
    }

    .hover-container {
        display: flex;
        gap: 40px;
        justify-content: center;
    }

    .footer-col {
        width: 100%;
    }
}

@media(max-width:500px) {

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
    }

    .nav a {
        display: none;
    }

    .fa-bars {
        visibility: inherit;
        font-size: 25px;
    }

    .img img {
        display: none;
    }

    .dropbtn img {
        display: inline;
    }

    .elan_ {
        display: none;
    }

    .dis-none {
        display: none;
    }

    .dropbtn span {
        display: none;
    }

    .profilim_elanVer {
        display: flex;
        gap: 35px;
    }

    .first_car,
    .second_car {
        width: 40%;

    }

    .first_car img,
    .second_car img {
        width: 80px;
    }

    .hover-container {
        display: flex;
        gap: 40px;
        margin-left: -15px;

    }

    .img-container {
        display: flex;
        justify-content: center;
    }

    .img-container img {
        width: 350px;

    }

    .mahin_haqqinda_melumat {
        flex-direction: column;
        padding-left: 20px;
    }

    .border_mashin_melumat {
        display: flex;
        flex-direction: column;
        width: 84%;
        height: 200px;
        border: 1px solid #30A6A9;
        border-radius: 10px;
        align-items: flex-start;
        gap: 20px;
        padding-left: 10px;
        padding-top: 10px;
    }

    .ad_ve_marka p {
        font-size: 18px;
    }

    .ab_ p {
        font-size: 13px;
    }

    .mashinin_melumati {
        width: 100%;
    }

    .product-div {
        width: 100%;
    }

}

@media(max-width:450px) {

    .first_car,
    .second_car {
        width: 40%;
    }

    .first_car img,
    .second_car img {
        width: 80px;
    }

    .hover-container {
        display: flex;
        gap: 40px;
        justify-content: center;
        margin-left: -20px;

    }

}

@media(max-width:405px) {
    .ad_ve_marka p {
        font-size: 16px;
    }

    .ab_ p {
        font-size: 12px;
    }

    .qiymet p {
        width: 100%;
        padding: 5px 25px;
        font-size: 16px;
    }

    .first_car,
    .second_car {
        width: 200px;
    }

    .first_car img,
    .second_car img {
        width: 100px;
    }

    .hover-container {
        display: flex;
        gap: 25px;

    }

    .hover-container {
        flex-direction: column;
    }

    .img-container img {
        width: 300px;

    }

}


@media(max-width:345px) {
    .img-container img {
        width: 250px;

    }

}

@media(max-width:300px) {
    .dropbtn img {
        display: inline;
        width: 25px;
        height: 25px;
    }

    .fa-bars {
        visibility: inherit;
        font-size: 18px;
    }

    .profilim_elanVer {
        display: flex;
        gap: 10px;
    }

    .dropbtn span {
        display: none;
    }

    .img img {
        display: none;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 30%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

}